<html>
    <head>
    {% block head %}
        <title>{% block title %}{% endblock %} - My Application</title>
        <div class="topnav">
            <a class="active" href="/">Dashboard</a>
            <a href="/register">Register</a>
            <a href="/about">About</a>
            <a href="/login">Login</a>
        </div>
    {% endblock %}
    </head>
    <body>
             <p>-----------------------------------------------------</p>
        {% block body %}
       
        {% endblock %}
    </body>
</html>
