<html>
    <head>
    {% block head %}
        <title>{% block title %}{% endblock %} - My Application</title>
        <div class="topnav">
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </div>
    {% endblock %}
    </head>
    <body>
    <div id="content">{% block content %}Welcome to my Flask Application{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://127.0.0.1:5000">you</a>.
      {% endblock %}
    </div>
  </body>
</html>

