{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block head %}
    {{ super() }}
    {% endblock %}

{% block content %}
    <h1>Register</h1>

    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.email.label }} {{ form.email() }}
        {% for error in form.email.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ form.username.label }} {{ form.username() }}
        {% for error in form.username.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ form.password.label }} {{ form.password() }}
        {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ form.confirm_password.label }} {{ form.confirm_password() }}
        {% for error in form.confirm_password.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {{ form.submit() }}
    </form>
    <p>Already have an account? <a href="{{ url_for('main.login') }}">Login here</a></p>
{% endblock %}